*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.pydevproject
.DS_Store
.sass-cache
__pycache__

.gitignore

.idea
.git
.venv

t_5_promo_compose_dev
docs
logs
local
dev.Dockerfile
README.md
