# Editor directories and files
*.pyc
*.pyo
*.py[co]
*.swp
*.orig
.idea
*~
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.egg-info
*.pot
.tox/
__pycache__

.sass-cache/
*.css.map

# local env files
.env
.env.local
.env.*.local

.env.db
.env.django

.venv

local

/collect_static/*
!/collect_static/placeholder

/media_0/*
!/media_0/placeholder


.DS_Store
/dist
staticfiles
db.sqlite3

docs/_build/
docs/locale/
tests/coverage_html/
tests/.coverage
tests/report/
build/