@import "vars";
@import "../utils";


$footer-offset-y: 23px;
footer {
    padding-top:$footer-offset-y;padding-bottom: $footer-offset-y;

    a, span {line-height: px_to_rem(30); font-size: px_to_rem(15);}
    .col {display: flex;align-items: center;gap: 30px;}

    .footer-logo {flex: none;}

    .footer-copyright {display:flex;gap: 45px;}
    .footer-development {display: flex;justify-content: flex-end;align-items: center;gap: 6px;flex-grow: 1;}
}

@media (max-width: 992px) {
    footer {
        text-align: center;padding-bottom: 15px;

        .col, .footer-copyright {flex-direction: column;}
        .footer-copyright {gap: 15px;}
        .footer-development {opacity: 0.6;display: block;}  // maybe use color instead opacity?
    }
}
