@import "../vars";
@import "../../utils";


.btn {
    background-color: $red;color:$white;border-radius: 4px;padding: 12px 36px;display:inline-block;cursor: pointer;
    font-weight: 700;line-height: px_to_rem(20);letter-spacing: 0.05rem;text-transform: uppercase;text-decoration: none;

    &.btn-short {padding: 12px 18px;}

    // fixme: warning: inconsistent style
    &:hover {background-color: $red-dark;}
}