@import "../vars";
@import "../../utils";

@mixin common_styles {
    display: flex;border: 1px solid $grey;border-radius: 4px;
}

@mixin border_highlight {
    box-shadow: inset 0 0 0 1px $grey;
}

form {display: flex;flex-direction: column;gap: 10px;}
input[type=text], textarea {
    @include common_styles;
    width:100%;padding: 8px 16px;

    // fixme: warning: inconsistent style
    &:hover {@include border_highlight;}
}


// --- checkbox ---
.input-checkbox {
    display: block;position: relative;

    label {display: flex;align-items: center;gap: 8px;cursor: pointer;}

    // hide default checkbox
    input[type=checkbox] {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}


    .checkmark {
        @include common_styles;
        height: 24px;width: 24px;

        &::after {
            content: "";position: absolute;display: none;
            left: 9px;top: 7px;width: 5px;height: 10px;border: solid $black;border-width: 0 2px 2px 0;transform: rotate(45deg);
        }
    }

    // fixme: warning: inconsistent style
    &:hover .checkmark {
        @include border_highlight;
    }

    input:checked ~ .checkmark {
        &:after {display: block;}
    }
}
